In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from sklearn import preprocessing, model_selection
import tfm.nlp.layers.Transformer

In [2]:
n_days = 10
ticker_value = 'nvda'
df_ml = yf.download(tickers=ticker_value, period='3mo', interval='1h')
df_ml = df_ml[['Adj Close']]

[*********************100%%**********************]  1 of 1 completed

In [3]:
df_ml

                            Adj Close
Datetime
2024-02-05 09:30:00-05:00  681.597290
2024-02-05 10:30:00-05:00  681.390015
2024-02-05 11:30:00-05:00  689.609985
2024-02-05 12:30:00-05:00  688.825012
2024-02-05 13:30:00-05:00  689.505005
...                               ...
2024-05-03 11:30:00-04:00  885.409973
2024-05-03 12:30:00-04:00  888.239990
2024-05-03 13:30:00-04:00  891.219971
2024-05-03 14:30:00-04:00  888.630005
2024-05-03 15:30:00-04:00  887.830017

[441 rows x 1 columns]

In [ ]:
df_ml['Prediction'] = df_ml[['Adj Close']].shift(-n_days)

In [ ]:
X = np.array(df_ml.drop(['Prediction'], axis=1))
X = preprocessing.scale(X)
X_forecast = X[-n_days:]
X = X[:-forecast_out]
y = np.array(df_ml['Prediction'])
y = y[:-forecast_out]

# Reshape X into 3D
X = X.reshape((X.shape[0], 1, X.shape[1]))
X_forecast = X_forecast.reshape((X_forecast.shape[0], 1, X_forecast.shape[1]))

X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size = 0.2)